body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  background: #0f172a;
  color: white;
}

.container {
  width: 95%;
  max-width: 1400px;
  margin: auto;
  padding: 30px;
}

h1 {
  text-align: center;
  color: #38bdf8;
  margin-bottom: 30px;
}

h2 {
  color: #38bdf8;
  margin-bottom: 15px;
}

/* Dashboard Cards */

.cards {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  min-width: 220px;
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(0, 255, 255, 0.15);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 255, 255, 0.35);
}

.card h2 {
  font-size: 20px;
}

.card p {
  font-size: 30px;
  font-weight: bold;
}

/* Search + Filter */

input,
select {
  background: #1e293b;
  color: white;
  border: 1px solid #38bdf8;
  outline: none;
}

input::placeholder {
  color: #94a3b8;
}

button {
  background: #16a34a;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #15803d;
  transform: scale(1.05);
}

/* Chart */

.chart-container {
  background: #1e293b;
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 30px;
}

/* Table */

table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  border-radius: 12px;
  background: #1e293b;
}

th {
  background: #0284c7;
  padding: 15px;
  font-size: 17px;
}

td {
  padding: 15px;
  border-bottom: 1px solid #334155;
}

tr:nth-child(even) {
  background: #243447;
}

tr:hover {
  background: #334155;
  transition: 0.3s;
}

/* Responsive */

@media (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  input,
  select,
  button {
    width: 100%;
  }
}
